body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #0d0d0d;
      color: #111;
    }

    .container {
      text-align: center;
      padding: 40px 20px;
    }

    .card {
      background: #111;
      padding: 25px;
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(45, 240, 68, 0.2);
      max-width: 400px;
      margin: auto;
    }
    .card:hover{
      transform:scale(1.05);
    }

    .profile-img {
      width: 120px;
      border-radius: 80%;
      border: 3px solid  #00ff99;
      margin-bottom: 15px;
    }

    h1 {
      color: #00ff99;
      margin: 10px 0;
    }

    .role {
      color: #aaa;
      margin-bottom: 20px;
    }

    .section {
      margin-top: 40px;
    }

    .section h2 {
      color:  #00ff99;
    }

    .about {
      max-width: 600px;
      margin: auto;
      line-height: 1.6;
    }

    ul {
      text-align: left;
      max-width: 500px;
      margin: auto;
    }

    li {
      margin: 10px 0;
    }
    body {
  margin: 0;
  font-family: 'poppins' sans-serif;
  background: #0d0d0d;
  color: white;
}
h2{
    color:  #00ff99;
    margin: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color:  #00ff99;
  text-decoration: none;
}

.hero {
  text-align: center;
  margin-top: 100px;
}

.about, .projects, .contact {
  padding: 40px;
}

.project-card {
  background: #111;
  padding: 20px;
  box-shadow: 0 0 20px  rgba(45, 240, 68, 0.2);
  margin: 10px 0;
}
.project-card:hover{
  transform:scale(1.05);
}
.contact-container{
    width: 400px;
    background: #111;
    padding: 30px;
    margin: 80px auto;
    border-radius: 10px;
     box-shadow: 0 0 20px  rgba(45, 240, 68, 0.2);
}
.contact-container:hover{
  transform:scale(1.05);
}

h2{
    text-align: center;
}

p{
    text-align: center;
    color:white;
}

label{
    display: block;
    margin-top: 15px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 0 20px  rgba(45, 240, 68, 0.2);
    background-color: #111;
    border-radius: 5px;
    color: aliceblue;
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background:  #00ff99;
    color: #111;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
    margin-left: 2.5%;
}

    .footer {
      margin-top: 50px;
      color: #00ff99;
    }
  